# Create a new directory and enter it
function mkd() {
        mkdir -p "$@" && cd "$@"
}

# Determine size of a file or total size of a directory
function fs() {
        if du -b /dev/null > /dev/null 2>&1; then
                local arg=-sbh
        else
                local arg=-sh
        fi
        if [[ -n "$@" ]]; then
                du $arg -- "$@"
        else
                du $arg .[^.]* *
        fi
}

# `o` with no arguments opens current directory, otherwise opens the given location
function o() {
        if [ $# -eq 0 ]; then
                open .
        else
                open "$@"
        fi
}

notebook(){
  python manage.py shell_plus --notebook --settings=project.settings-dev
}

myip(){

    ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d ' ' -f2
}

# Run django work tests
test()
{   if [ "$1" ]
    then
        ./runtests.sh $1/tests
    else
        ./runtests.sh
    fi
}

# Start djnago server
startwork()
{
    /Users/akapatkar/financials && source .venv/bin/activate && ./up.sh
}
