[user]
	name = Abhishek Kapatkar
	email = cabhishek@gmail.com
[github]
	user = cabhishek
	token = 3d6ea42c58df9822fed8a8d116deebaf
[gui]
[core]
	editor = open -a 'Sublime Text'
	excludefile = ~/.gitignore_global

[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[merge]
    tool = kdiff3

[color]
	ui = true

[alias]
    st = status
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

